<%= form_for(@enquiry) do |f| %>
  <% if @enquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>

      <ul>
      <% @enquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first, "First: " %><br>
    <%= f.text_field :first %>
  </div>
  
  <div class="field">
    <%= f.label :surname, "Surname: " %><br>
    <%= f.text_field :surname %>
  </div>
    
  <div class="field">
    <%= f.label :telephone, "Telephone: " %><br>
    <%= f.text_field :telephone %>
  </div>
  
  <div class="field">
    <%= f.label :description, "Description: " %>
    <%= f.text_area :description, :cols => 32, :rows => 12 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
